@import './_header/index';

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html, body {
height: 100vh;
font-family: sans-serif;
}

#header{
    height: 130px;
}

#containers{
    height: calc(100vh - 260px);
}

#footer{
    height: 130px;
    background-color: lightblue
}
  
