@import '../utils/all';

.aboutWrap{
    height: 100%;
    background-color: $greyBlueGreen;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font;
}

.aboutWrapHeader{
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}

.aboutTitle{
    width: 80%;
    height: 15%;
    letter-spacing: 1.2px;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    h1{
        @include font-size(0.75);
    }
}

.aboutDesc{
    width: 80%;
    @include font-size(0.5);
    height: 30%;
    align-items: center;
    display: flex;
    text-align: justify;
    line-height:15px;
    padding-bottom: 5px;
    p{
        margin-bottom: 0;
    }
}

.recommendations{
    width: 80%;
    height: 45%;
    @include font-size(0.5);
    letter-spacing: 1.2px;
    justify-content: flex-start;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.recommendationsTitle{
    height: 10%;
    @include font-size(0.55);
    text-align: center;
    margin-bottom: 0;
    h1{
        font-weight: bold;
    }
}

.opinions{
    height: 80%;
    width: 100%;
    display: flex; 
 
}

.aboutWrapImage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40vh;
    img{
        max-width: 35vw;
        object-fit: contain;
    }
}