/*colors*/

$brightOrange:  #f43a09;
$grandpaOrange: #ffb766;
$greyBlueGreen: #c2edda;
$greyBlueGreenDarker: #b0e0cb;
$liveGreen: #68d388;
$liveGreenDarker: #69ce87;


/*font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,500;1,600&display=swap');

$font: 'Poppins', sans-serif;




