@import '../utils/all';

.footerWrap{
    height: 130px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    background-color: $greyBlueGreen;
    font-family: $font;
}

.spaceFooter{
    min-width: 45px;
 }

 .LWrap{
    width: calc(100vw - 180px);
     height: 100%;
     display: flex;
     justify-content: center;
 }

.footerInfoWrap {
    height:100%;
    display: flex;
}

.copyrightsWrap{
    height: 25%;
    background-color: $liveGreenDarker;
}