@import '../utils/all';

.footerWrap{
    height: 130px;
    display: block;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: $greyBlueGreen;
    font-family: $font;
}

.footerInfoWrap {
    height:100%;
    display: flex;
}

.copyrightsWrap{
    height: 25%;
    background-color: $liveGreenDarker;
}