@import '../utils/all';

.logoCommercialWrap{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.logoCommercialHeader{
    margin-top: 25px;
    h1{
        font-weight: bold;
        @include font-size(0.7);
    }
}

.logoCommercialLogo{
    display: flex;
    width: 150px;
    margin-top: 10px;
}

.logoPNG{
    width: 45px;
    margin-right: 13px;
}

.companyName{
     justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 7px;
    h1{
        @include font-size(0.9)
    }
}