@import '../utils/all';

.nameWrap{
    display: flex;
    align-items: center;
    h1{
        width: fit-content;
        @include font-size(1);
        font-weight: 500;
        text-align: end;
    }
}