.navWrap{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.navListWrap{
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 35px 15px 0;
    li{
        width: 120px;
    }
}