@import '../utils/all';

.langWrap{
    width: inherit;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.langSwitchBTN{
    border: none;
    background-color: inherit;
    margin: 0 5px 0 5px;
    outline: none;
}