@import '../../utils/all';

.contactFormWrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spaceForm{
    min-width: 45px;
    height: 100%;
}

.contactParagraph{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: initial;
    width: calc(45% - 180px);
    p{
        padding-bottom: 10px;
    }
}

.contactForm{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: calc(60% - 180px);

}
.contactFlex{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

}

.formInputs{
    display: flex;
    justify-content: center;
    flex-direction: column;   
    width: calc(75% - 45px);
     input{
        width:90%;
        border: none;
        background-color: $greyBlueGreen;
        border-bottom: 1px solid black;        
        outline: none;
    }
   
}

.inputWrap{ 
  display: flex;
  @include font-size(0.9);
label{
  width: 30%;
  text-align: left;
}
input{
  width: 70%;
  height: 15px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px   $greyBlueGreen inset !important;
}
}

.formButton{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.talkButton{
    @include font-size(0.9);
    font-weight: 400;
    background-color: $greyBlueGreen;
    border: 1px solid transparent;
    width: 160px;
    height: 40px;
    margin-top: 5px;
    justify-content: center;
    align-content: center;
    outline: none;
    cursor: pointer;
    transition: 0.7s;
    letter-spacing: 1.5px;
    
}

.talkButton:hover{
    border: 0.25px solid black;
    letter-spacing: 0;
}

.contactCloseText{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80px;
    text-align: center;
}

.buttonWrap{
  height: 80px;
  width: 80px;
  position: relative;
  margin-top: 2px;
}

.btnClose {
  background: none;
  border: 0;
  justify-content: center;
  color: transparent;
  cursor: pointer;
  font-family: $font;
@include font-size(0.7); 
  left: 50%;
  letter-spacing: 1.5px;
  line-height: 30px;
  outline: none;
  overflow: hidden;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 1.2s ease-in;
  width: 70px;
  span{
    width: 100px;
  }
}

.btnClose::before,
.btnClose::after {
  background-color: black;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  transform-origin: center left;
  transition: all 0.5s ease-in;
  width: 141.4214px;
  z-index: -1;
}

.btnClose::before {
  top: 0;
  left: 25%;
  transform: rotate(45deg);
}

.btnClose::after {
  bottom: 0;
  left: 25%;
  transform: rotate(-45deg);
}

.btnClose:hover {
  color: black;
}

.btnClose:hover::before,
.btnClose:hover::after {
  height: 50px;
  transform: rotate(0deg);
  background-color: transparent;
  
}

.contactCloseText{

}
