@import '../../utils/all';

.contactFormWrap{
    width: 100%;
    
}

.contactForm{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.contactFlex{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

}

.formInputs{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;   
    height: 84%;
    margin-top: 20px;
     input{
        width: 80%;
        border: none;
        background-color: $greyBlueGreen;
        border-bottom: 1px solid black;        
        outline: none;
    }
}

.formButton{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.talkButton{
    @include font-size(0.7);
    font-weight: 600;
    background-color: $greyBlueGreen;
    border: 1px solid transparent;
    width: 160px;
    height: 40px;
    justify-content: center;
    align-content: center;
    outline: none;
    cursor: pointer;
    transition: 0.7s;
}

.talkButton:hover{
    border: 1px solid black;
    border-radius: 25px;
 
}